/* Dashboard Container */
.dashboard-container {
    font-family: Arial, sans-serif;
   
    color: #333;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 30px;
    margin-left: 300px;
    
    
}
.logout-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #d32f2f;
}
.header-image{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px;
}
.image-logo{
    height: 40px;
    width: 40px;
    border-radius: 20px;

}
  
  
/* Table Container */
.table-container {
    max-height: 400px; 
    overflow-y: auto; 
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 0; 
    
}
.middle-container{
    margin-left: 100px;
    border:1px solid #555;
    padding: 15px;
}

/* Table */
.table {
    table-layout: auto; /* Allow dynamic column width based on content */
    width: 100%; /* Ensure the table spans full width of the container */
}

.table th, .table td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.table td {
    color: #555;
    padding: 30px;
    word-wrap: break-word; 
    white-space: auto;
}

.table th {
    color:#26c6f9;
    background-color: #f1f1f1;
    font-weight: bold;
}

.table tr:hover {
    background-color: #f1f1f1;
}

/* Scrollbar Styling */
.table-container::-webkit-scrollbar {
    width: 8px;
}

.table-container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}


/* Toolbar Styling */
.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.toolbar-left {
    display: flex;
    align-items: center;
}
.add-branch-button{
    color: #26c6f9;
    font-size: 24px;
    border: none;
    margin: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 8px;
}

.search-input {
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 14px;
    flex-grow: 1;
}

.toolbar-right {
    display: flex;
    gap: 10px;
}

.action-button {
    background: none;
    border: none;
    color: #007bff;
    font-size: 16px;
    cursor: pointer;
}
.btn-action{
    border: none;
    margin: 2px;
    font-size: 20px;
}
.action-button:hover {
    color: #0056b3;
}

.excel-button {
    color: #0056b3;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.excel-button:hover {
    background-color: #218838;
}
.pagination,.rows-per-page{
    display: flex;
   
    justify-content: flex-end;
}
.last-pagination{
    display: flex;
    flex-direction: row;
}
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background: #fff;
    height: 90vh;
    border-radius: 8px;
    width: 90vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px; 
    overflow-y: auto; 
    overflow-x: hidden; 
    box-sizing: border-box;
  }
  
  .modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  label {
    margin-bottom: 8px; 
    display: block;
    font-size: 14px; 
    font-weight: bold; 
  }
  
  input {
    margin-bottom: 20px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    width: 50%; 
    box-sizing: border-box; 
    font-size: 14px; 
  }
  
  
  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto; 
    overflow-x: hidden; 
    box-sizing: border-box;
    
  }
  
  .edit-form-modal {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-in-out;
    margin-top: 50px;
    
    
  }
  
  .edit-form-modal h5 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
    
  }
  
  .edit-form-modal label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
  }
  
  .edit-form-modal input {
    width: 50%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .modal-actions button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .modal-actions button:first-child {
    background-color: #4caf50;
    color: white;
  }
  
  .modal-actions button:last-child {
    background-color: #f44336;
    color: white;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
